src/main/resources/META-INF/test.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://test.hatter.me/schema/test"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://test.hatter.me/schema/test">

	<xsd:element name="custom" type="customType" />

	<xsd:complexType name="customType">
		<xsd:attribute name="id" type="xsd:ID" />
		<xsd:attribute name="name" type="xsd:string" />
	</xsd:complexType>

</xsd:schema>